/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: blue;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
nav .logo img {
  height: 40px;
  width: auto;
  padding: 8px 16px;
}

/* NAV ITEMS */
nav .nav-item {
  margin-left: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

nav ul li a:hover {
  background-color: #111;
}